@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

body {
    color: #FBFFE5;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    --lime: #A8CF38;
    --orange:#CF9038;
}

.page {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: calc(100vh - 200px);
    padding: 56px 40px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h2 {
    color: #E5F1A9;
    font-family: Agbalumo;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h3 {
    color: #344C08;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.breadcrumbs {
    color: #FBFFE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.breadcrumbs span {
    opacity: 0.5;
}

.breadcrumbs:hover span {
    text-decoration: underline;
    cursor: pointer;
}

.content {
    display: flex;
    gap: 40px;
}

.itemSuggested {
    border-radius: 24px;
    border: 1px solid rgba(229, 241, 169, 0.03);
    background:var(--lime);
    width: 427px;
    height: 100%;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    box-sizing: border-box;
}

.itemSuggestedImage {
    flex: 1;
    width: 100%;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    transition: all 0.3s ease-in-out;
}

.itemSuggestedImage:hover {
    transform: translateY(-3px) rotate(-.5deg);
    scale: 1.01;
    cursor: pointer;
}

.tint {
    background: rgba(9, 14, 1, 0.40);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 24px;
    flex: 1;
}

.tint p {
    color: #FBFFE5;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
    text-align: left;
}

.itemResults {
    flex: 1;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    height: calc(100vh - 280px);
    overflow-y: scroll;
}

.numberOfResults {
    font-family: "Quicksand";
    font-size: 16px;
    font-weight: 500;
    z-index: 2;
    opacity: 0.7;
}
