.container {
    width: calc((100% / 4) - 30px);
}

.container:hover {
    background: rgba(9, 14, 1, 0.20);
}

.itemImage {
    height: 200px;
    border-radius: 24px;
    background-color: red;
    transition: all 0.2s ease-in-out;
}

.itemImage:hover {
    transform: translateY(-2px);
}

.itemName {
    color: #FBFFE5;
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding-top: 12px;
}