.container {
    width: calc((100% / 4) - 30px);
}

.container:hover {
    color: #A8CF38;;
}

.itemImage {
    height: 200px;
    border-radius: 24px;
    transition: all 0.2s ease-in-out;
    display: flex;
}

.tint {
    background: rgba(9, 14, 1, 0.20);
    flex: 1;
}

.itemImage:hover {
    transform: translateY(-3px);
    scale: 1.01;
}

.itemName {
    font-family: Quicksand;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    padding-top: 12px;
    overflow: hidden;  
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}