.image-group {
    display: flex;
    overflow: hidden;
    align-items: center;
  }
  
  .left-image {
    position: relative;
    margin-top: 7%;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    left: 4%;
    opacity: 0.8;
  }
  
  .left-image:hover {
    margin-top: 3%;
    z-index: 5;
    opacity: 1;
    left: 6%
  }
  

  .center-image {
    position: relative;
    left: -47%;
    z-index: 3;
    transition: all 0.3s ease-in-out;
  }
  
  .center-image:hover {
    margin-top: -3%;
  }
  
  
  .right-image {
    position: relative;
    left: -97.5%;
    margin-top: 12%;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    opacity: 0.95;
  }
  
  .right-image:hover {
    margin-top: 5%;
    z-index: 5;
    opacity: 1;
    left: -99.5%;
  }
  
