@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: #FBFFE5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FBFFE5;
    text-align: left;
    overflow: hidden;  
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* max-height: 2.4rem;  */
}

.card {
    /* background-image: url("./images/chicken.png"); */
    background-repeat: no-repeat; 
    width: 437px;
    height: 448px;
    border-radius: 24px;
    /* border: 1px solid green; */
    display: flex;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;
    padding: 24px;
    background: rgba(9, 14, 1, 0.50);
    flex: 1
}

