@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

.page {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* height: calc(100vh - 160px); */
    padding: 56px 40px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.h2 {
    color: #E5F1A9;
    font-family: Agbalumo;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h3 {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 24px;
    font-weight: 700;
    line-height: normal;

}

.breadcrumbs {
    color: #FBFFE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.breadcrumbs span {
    opacity: 0.5;
}

.breadcrumbs-home:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* .breadcrumbs-discover {
    opacity: 0.5;
} */

.breadcrumbs-discover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.mealDetail {
    display: flex;
    gap: 40px;
}

.mealImage {
    display: flex;
    width: 310px;
    height: 331px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-out;
    background-color: rgba(168, 207, 56, 0.20);
}

.mealImage:hover {
    transform: translateY(-1px) ;
    scale: 1.01;
box-shadow: 0px 6px 40px 3px rgba(168, 207, 56, 0.45), 0px 2px 6px 1px rgba(229, 241, 169, 0.20);
}

.mealTint {
    background: rgba(9, 14, 1, 0.50);
    flex: 1;
    padding: 24px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-end;
}

.mealTint:hover {
    background: rgba(9, 14, 1, 0.40);
}


.mealTint p {
    color: rgba(251, 255, 229, 0.80);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    overflow: hidden;  
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.mealPills {
    display: flex;
    gap: 8px;
}

.mealPill {
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.07);
    border-radius: 20px;
    background: rgba(168, 207, 56, 0.10);
    backdrop-filter: blur(3px);
    /*text styling*/
    color: #E5F1A9;
    text-align: center;
    font-family: Quicksand;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.1s ease-out;
}

.mealPill:hover {
    cursor: pointer;
    transform: translateY(-2px);
    background: rgba(168, 207, 56, 0.30);
    font-weight: 700;
}
.fav {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 12px;
    border-radius: 50%;
    background: rgba(229, 241, 169, 0.20);
    backdrop-filter: blur(2px);
    display: flex;
    transition: all 0.1s ease-out;
}

.fav:hover {
    background: rgba(229, 241, 169, 0.50);
    scale: 1.03;
    cursor: pointer;
}

.ingredients {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.ingredientContent {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.ingredientItem {
    display: flex;
    gap: 8px;
    align-items: center;
    width: calc((100% / 3) - 30px);
    /*text styling*/
    color: #FBFFE5;
    font-family: 'Quicksand', 'sans-serif';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ingredientImage {
    width: 64px;
    height: 64px;
}

.mealInstructions {
    display: flex;
    gap: 40px;
    top: 80px;
    overflow: hidden;
}


.youtube {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 8px;
    padding: 12px;
    width: 310px;
    height: 120px;
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid rgba(229, 241, 169, 0.07);
    background-color: rgba(168, 207, 56, 0.10);
    margin-top: 56px;
}

.youtube img {
    width: 20px;
    height: 20px;
}

.youtube p {
    color: #CF9038;
    font-weight: 700;
    width: fit-content;
}

.instructions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    }

.instructionparagraph {
    white-space: pre-line;
    max-width: 70%;
    color: rgba(251, 255, 229, 0.50);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}