.container {
    position: fixed;
    top: 0;
    /* background-color: red; */
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(229, 241, 169, 0.05);
    z-index: 5;
    background-color: #090E01;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.logo:hover {
    cursor: pointer;
}

.user-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.user {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    color: #FBFFE5;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    border-radius: 12px;
    width: fit-content;
    transition: all 0.1s ease-in;
}

.user:hover {
    background-color: rgba(229, 241, 169, 0.05);
    cursor: pointer;
}

.searchbarContainer {
    display: flex;
    position: relative;
    flex: 1;
    justify-content: flex-end;
}

.searchIcon {
    position: absolute;
    top: calc(50% - 10px);
    right: calc(296px + 48px);
}

.searchbar {
    width: 296px;
    height: 40px; 
    padding: 0px 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: calc(50% - 120px);
    min-width: 240px;
    padding: 8px 0px;
    border-radius: 12px;
    background: #A8CF38;
    animation: SlideIn 0.5s ease-in-out;
}

.menuOption {
    display: flex;
    gap: 12px;
    padding: 12px 24px;
    /*text styling*/
    color: #090E01;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}

.menuOption:hover {
    background: rgba(9, 14, 1, 0.10);
    cursor: pointer;
}

.divider {
    height: 1px;
    width: 100%;
    background: rgba(9, 14, 1, 0.10);
}

@keyframes SlideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
        opacity: 1;
      transform: translateY(0px);
    }
  }